*{
	margin: 0px;
	padding: 0px;
}

body {
	padding-top: 20px;
	background: url('images/background.png') #2f2e2e repeat-x 0px 0px;
	background-size: 100%;
	color: #aca9a9;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	letter-spacing: 1px;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #ea9a2e;
}

span {
	display: none;
}

img {
	border: none;
}

ul {
	list-style-type: none;
}

li {
	list-style-type: none;
}





/* Page Header */

#page_header {
	width: 900px;
	height: 135px;
	background: url('images/BannerVersion3.png') no-repeat;
	background-size:100%;
	overflow: hidden;
}

#page_header h1 {
	width: 330px;
	height: 51px;
	background: url('images/website_name.png') no-repeat;
	float: left;
}



/* Page Menu */

#page_menu {
	width: 100%;
	height: 50px;
	background-color: #4c0000 ;
	position: center;
	float: right;
	color: #fff08c;
	text-align: center;
	font-size: 40px;
	height: 60px;
	
}

#descr{
	margin-top: 35px;
	width: 1001px;
	height: 50%;
	background-color: black;
	float: right;
	color: #fff08c;
	text-align: center;
	font-size: 20px;
}

/* Page Forms */

#page_forms {
	text-align: center;
	position: relative;
	width: 400px;
	height: 338px;
	left: 400px;
	bottom: 310px;
	
}

#page_forms input {

	color: #c6c4c4;
	background-color: #373837;
	border: #5b5d5b 1px solid;
	font-family: tahoma, arial, sans-serif;
	font-size: 13px;
	font-weight: bold;

}




/* User Login */

#userlogin_header h1 {
	width: 100%;
	height: 29px;
	color:white;
	text-align:center;
	color: #fff08c;
}

#userlogin {
	border: 5px solid black;
	border-style: solid;
	height: 338px;
	width: 400px;
	overflow: hidden;
	background: #4b1a04;
}

#userlogin form {
	width: 100%;
	/*text-align: center;*/
}

#userlogin form h3 {
	padding: 10px 12px 0px;
}


#field_username, #field_password {
	display: block;
	clear: both;
}


#userlogin input {
	margin-right: 20px;
	width: 150px;
	float: right;
	clear: right;
	color: #fff08c;
	background-color: #4b0e07;
}

#userlogin input.button {
	width: 120px;
	height: 27px;
	float: right;
}

#userlogin_links {
	padding: 10px 12px 0px;
}

#userlogin_links h1,h3{
	color:#fff08c;
}

/* Site Search */



#sitesearch_header h2 {
	width: 196px;
	height: 25px;
	background: url('images/sitesearch_header.gif') no-repeat 50% 100%;
}

#sitesearch {
	width: 196px;
}

#sitesearch form {
	margin: 12px 5px 20px;
	width: 186px;
	height: 25px;
	clear: both;
	overflow: hidden;
}

#registrar{
	color:white;
	font-size: 20px;
}

/* Content Body */

#content_body {
	clear: left;
	float: left;
	width: 774px;
}


#combate {
	width: 1200px;
	margin : 0px;
	height : 338px;
	float : none;
	position: relative;
	top: 38px;
	border: 5px solid black;
	background-color: black;
}

#foto1{
	width: 338px;
	height: 338px;
	float:left;
}

#foto2{
	width: 338px;
	height: 338px;
	float:right;
}



.content_entry {
	padding: 23px 0px 0px;
}

.content_entry .thumbnail {
	margin: 5px 0px 15px;
	float: left;

}

.content_entry .thumbnail img {
	float: left;
}

.content_entry .entry_text {
	padding-right: 15px;
	width: 210px;
	float: right;
	text-align: justify;
}

.content_entry .entry_text h3 a{
	padding-bottom: 5px;
	color: #c71212;
	font-size: 10px;
	font-weight: normal;
}

#excepciones{
	margin: auto;
	color: red;
	height: 20px;
	width: 90%;
	font-size: 15px;
}
