
#main {
height:900px;
}

h3{
	text-align: center;
	vertical-align: top;
}

#acuerpo {
    position: relative;
    display: block;
	color: black;
	min-height: 100%;
	height: 55em;
    margin: 4%;
}
/*#apie {
    position: absolute; bottom: 0; height: 40px;
    background-color: #4b1a04; color: #fff; text-align: center; width: 100%; clear: both;
}*/
.apanel{
    height: 340px;
    width: 280px;
    background-color: #0a2735; /*azul turquesa oscuro*/
	border:3px solid #474747; /*gris oscuro*/
}
#ainventario{
    float: left;
	margin-left: 1em;
}
#avendedor{
    margin-right: 0.3em;
    float: right;
}

.apanel table{
	margin-right: auto;
	margin-left: auto;
	background-color: grey;
	color: white;
}
td{
	border: 5px grey inset;
	background-color: #474747; /*gris oscuro*/
	height: 36px;
	width: 36px;
}
#imagenObjeto{
	height: 36px;
	width: 36px;
}
#imagenObjeto img{
	height: 36px;
	width: 36px;
}
#imagenObjeto button{
	padding: 0px;
	border: 0px;
	height: 36px;
	width: 36px;
	background-color: transparent;
}
#bloqueado{
	height: 36px;
	width: 36px;
	background-color: #9B1000;;
	opacity: 0.5;
	position: absolute;
}
.descripcion{
	display: none;
}
.descripcion img{
	height: 270px;
	width: 270px;
}
.descripcion td{
	border: 0px;
}
#stats{
	position:relative;
	margin-top: 10px;
	margin-left: 20px;
	width: 92%;
	height: 220px;
	border: none;
}
#stats td{
	padding-left: 10px;
}
td:hover{
	border-color: #fff08c; /*color marfil*/
}
caption{
	color: white;
	text-align: center;
    font-weight: bold;
	font-size: 20px;
	font-family: Barbarian NS;
}

#aobjeto{
	position: relative;
	margin-top: 2em;
	margin-right: 0.3em;
	margin-left: 0.3em;
  	clear: both;
	float: left;
	float: right;
	width: 98.5%;
	height: 300px;
	background-color: #grey;
}
.panelObjeto{
	position: relative;
	background-color: #474747; /*gris oscuro*/
	border: 5px grey inset;
	width: 47%;
	height: 91%;
	margin-top: 10px;
	margin-bottom: 10px;
}
#panelObjetoDcha{
	color: white;
	float: right;
	height: 270px;
	width: 480px;
	margin-right: 10px;
}

#panelObjetoIzda{
	float: left;
	width: 270px;
	height: 270px;
	margin-left: 10px;
}
p.apanel{
	margin-left: 2em;
	font-weight: bold;
}
#panelObjetoDcha p{
	margin-left: 2em;
	font-size: 20px;
}
.adinero{
	color:white;
	margin-left: 2em;
	font-size: 16px;
}
.adineroAjax{
	color:white;
	margin-left: 2em;
	font-size: 16px;
}
div#capaMadre{
    height: 100%;
}

#excepciones{
	color: red;
	height: 30px;
	width: 80%;
	text-align: center;
}