#main {
	height:600px;
}

h3{
	text-align: center;
	vertical-align: top;
}

#acuerpo {
    display: block;
	color: black;
	min-height: 100%;
	margin-left: 35px;
}

.apanel {
	margin-top: 50px;
    height: 360px;
    width: 800px;
	background-color: #0a2735; /* azul turquesa oscuro*/
	border:3px solid #474747; /*gris oscuro*/
}

#find {
	margin-top: 20px;
	height: 50px;
}

#find input[type= "text"]{
	margin-right: 15px;
	height: 25px;
	width: 300px;
}

.listaUsu{
	color: black;
}

.botonesGUsu{
	margin-top: 20px;
	width: 50px;
	height: 50px;
	background-size: 40px;
}

.apanel table {
	width: 800px;
	height: 360px;
	position: absolute;
	margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

table thead {
	color: white;
	position: absolute;
	width: 800px;
}

table thead tr th {
	border-bottom: 3px solid white;
	text-align: center;
	width: 260px;
}

#imagen {
	width: 230px;
}

#nombre {
	width: 200px;
}

#recompensas {
	width: 140px;
}

#aux {
	width: 80px;
}

#tipo {
	width: 140px;
}

#nivel {
	width: 50px;
}

.botonesInternos {
	width: 50px;
	height: 50px;
	background-size: 40px;
	margin: 5px 5px 5px 5px;
}

#scroll {
	width: 20px;
	border-bottom: none;
}

table tbody {
	color: white;
	position: absolute;
	top: 40px;
	overflow-x: hidden;
	overflow-y: auto;
	height: 310px;
	width: 800px;
}

table tbody tr td {
	text-align: center;
	font-size: 20px;
	width: 240px;
}

caption{
	text-align: center;
    font-weight: bold;
	font-size: 20px;
	font-family: Barbarian NS;
}

p .apanel{
	margin-left: 2em;
	font-weight: bold;
}

div #capaMadre{
    height: 100%;
}

/* iconos */
#modificar{
	background-image:url("fotos/modificar.gif");
}

#anadir{
	background-image:url("fotos/anadir.png");
	margin-right: 50px;
	float: right;
	margin-top: 0px;
}

#admin{
	background-image:url("fotos/admin.png");
	margin-right: 50px;
	float: right;
	margin-top: 0px;
}

#filtrar{
	/*background-image:url("fotos/busqueda.png");*/
	width: 70px;
	height: 30px;
}

#banear{
	background-image:url("fotos/bannear.png");
}

#eliminar{
	background-image:url("fotos/eliminar.png");
}

.bicho {
	width: 120px;
	height: 120px;
}

#opcionBusqueda {
	height: 25px;
}
