#panelNuevoAdmin {
	width: 500px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

#panelNuevoAdmin table {
	color: white;
	font-size: 20px;
	width: 100%;
	height: 100%;
}

#panelNuevoAdmin table td {
	width: 200px
}

#panelNuevoAdmin table td input[type= "text"] {
	font-size: 20px;
	text-align: center;	
}

#panelNuevoAdmin table td input[type= "password"] {
	font-size: 20px;
	text-align: center;	
}

#crearAdmin {
	width: 200px;
	height: 50px;
	margin-top: 45px;
	margin-left: 190px;
	float: left;
}

#crearAdmin button {
	height: 100%;
	width: 100%
}

#panelVolver {
	width: 200px;
	height: 50px;
	margin-top: 45px;
	margin-right: 210px;
	float: right;
}

#panelVolver button {
	height: 100%;
	width: 100%
}

#mensajeError {
	height: 25px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

#mensajeError p {
	font-size: 15px;
	color: red;
	text-align: center;
}